body{
    margin: 0;
    padding: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background: black;
}
.btn{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: bold;
    background: #1e90ff;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration:0.3s;
    -webkit-transition-property: box-shadow,transform;
    transition-property: box-shadow,transform;
}
.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    
}